<?xml version="1.0"?>

<launch>


<!--Run the rviz for better visualization-->
<node pkg = "rviz" name = "rviz" type = "rviz" args="-d $(find espeleo_planning)/rviz/config_basic.rviz" output="screen">
</node>

<!--Run the node that plots stuff on rviz-->
<node pkg = "espeleo_planning" name = "config" type = "config_rviz_basic.py" args="" output="screen">
</node>


<!--Run the controller node -->
<node pkg = "espeleo_planning" name = "controller" type = "control_motors.py" args="" output="screen">
</node>


</launch>
