<?xml version="1.0"?>

<launch>


<!--Run the rviz for better visualization-->
<node pkg = "rviz" name = "rviz" type = "rviz" args="-d $(find espeleo_planning)/rviz/config.rviz" output="screen">
</node>

<!--Run the controller node -->
<node pkg = "espeleo_planning" name = "controller" type = "control_motors.py" args="" >
</node>

<!--Run the trajectory follower node                                         args="x_goal y_goal" -->
<node pkg = "espeleo_planning" name = "tarjectory_follower" type = "follow_circle.py" args="" output="screen">
</node>





</launch>
